---
import Newsletter from "@components/blog/Newsletter.astro";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";
import { Icon } from "astro-icon/components";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer class="section py-4 lg:py-10">
  <div class="w-full grid grid-cols-6 gap-y-4 lg:grid-cols-12 lg:text-xl">
    <div class="col-span-6 col-start-1 lg:col-span-12 w-full">
    
    			<!-- Row 1 -->
    			<div class="flex flex-wrap justify-between w-full px-4 lg:px-10">
      			<a href={translatePath("/")} class="hover:underline">Home</a>
      		<a href={translatePath("/about/")} class="hover:underline">About Us</a>
      			<a href={translatePath("/contact/")} class="hover:underline">{t("Contact")}</a>
      			<a href={translatePath("/terms/")} class="hover:underline">Terms</a>
      			<a href={translatePath("/privacy/")} class="hover:underline">Privacy Policy</a>
    			</div>
				<!-- Divider Line -->
				<hr class="my-4 border-t border-gray-300" />
    			<!-- Row 2 -->
    			<div class="flex flex-wrap justify-between w-full mt-4 px-4 lg:px-10">
      			<a href="https://facebook.com/" target="_blank" class="hover:underline">Facebook</a>
      			<a href="https://www.instagram.com/" target="_blank" class="hover:underline">Instagram</a>
      			<a href="mailto:test@mintaka.co" class="hover:underline">hello@yuvacreations.in</a>
    			</div>

  			</div>
		</div>
		<!-- Divider Line -->
				<hr class="my-4 border-t border-gray-300" />
		<div class="relative mt-4 flex w-full justify-center text-sm lg:text-xl lg:font-normal">
  			<div>©2025 Yuva Creations</div>
		</div>
		<!-- https://codepen.io/fliseno1k/pen/WNboLBy -->
		<button
			id="go-top-button"
			aria-label="Go to Top"
			class="fill-transparent transition-colors duration-300 hover:fill-black hover:text-white"
			data-cursor-hover
			data-cursor-parallax>
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
				<g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
					<circle cx="12" cy="12" r="9"></circle><path d="m15 12l-3-3m0 0l-3 3m3-3v6"></path>
				</g>
			</svg>
		</button>

		<!-- Scroll Up Arrow -->
	</div>
</footer>

<style>
	footer {
		@apply relative flex w-full flex-col;
	}
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";

	gsap.registerPlugin(ScrollToPlugin);

	function init() {
		var goTopButton = document.getElementById("go-top-button");

		if (!goTopButton) return;

		goTopButton.addEventListener("click", function () {
			gsap.to(window, { duration: 0.5, scrollTo: 0 });
		});
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
